<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-tours-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Tours
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-tours-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Season</a>
                <a href="" class="dropdown-item ">By Region</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item">All Tours</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="summer-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Summer Tours
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="summer-link">
                <a href="" class="dropdown-item">Tracking</a>
                <a href="" class="dropdown-item">Attraction</a>
                <a href="" class="dropdown-item">Sightseeing</a>
                <a href="" class="dropdown-item">All Summer Tours</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="winter-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Winter tours
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="winter-link">
                <a href="" class="dropdown-item">Aurora tour</a>
                <a href="" class="dropdown-item">Attraction</a>
                <a href="" class="dropdown-item">Sightseeing</a>
                <a href="" class="dropdown-item">With Wild Animal</a>
                <a href="" class="dropdown-item">All Winter Tours</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Wilderness Meal</a>                
            </div>
        </li>
    </ul>
</div>